<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treasures.each do |treasure| %>
      <tr>
        <td><%= link_to treasure.description, treasure_path(treasure) %></td>
        <td width="100"><%= treasure.status %></td>
        <td width="50"><%= link_to 'Edit', edit_treasure_path(treasure) %></td>
        <td width="50"><%= link_to 'Delete', treasure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>