<p id="notice"><%= notice %></p>

<img src="http://img2.wikia.nocookie.net/__cb20140520030133/disney/images/1/19/DuckTales_Scrooge's_Treause_Hunt_Book_Cover.jpg" id="treasure-image">
&nbsp;
<%= render 'list' %>
<br>

<%= link_to 'New Treasure', new_treasure_path %>
